

.jumbotron {
  margin-bottom: 0px;
  background-image: url("../image/Capture3.PNG");
  background-position: 0% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}

h1 {
  background-color: red;  
}